.s-details{
    display: flex;
    flex-direction: column;
    padding: 4rem;

    
    
}
.s-details>:nth-child(1){
    font-size: 50px;
    font-family: cursive;
    font-weight: bold;
    color: var(--black);
 
}
.s-details>:nth-child(2){
    font-size: 60px;
    font-family: sans-serif;
    font-weight: bold;
    color: var(--blue);
}
.s-details>:nth-child(3){
    font-size: 20px;
}
.s-button{
    margin-top: 50px;
    width:12rem;
}
.s-card{
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
position: relative;
flex:1;

}
.s-card>*{
    position: absolute;
    margin: 10px;
   
}
.s-card>:nth-child(1){
    left: 20%;
}
.s-card>:nth-child(2){
   right: 18%; 
   top:-10%;
}
.s-card>:nth-child(3){
    left: 50%; 
    top:50%;
}
