.hero{
    display: flex;
   height: auto;
   justify-content: center;
  
}
.h-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
gap:1rem;
    
    flex: 1;
    padding: 4rem;
}
.name{
    display: flex;
    flex-direction: column;
    gap:0.25rem;
}
 .h-intro{
    
    font-size: 50px;
    font-family: cursive;
    font-weight: bold;
    color: var(--black);
 
}

.h-name{
    font-size: 60px;
    font-family: sans-serif;
    font-weight: bold;
    color: var(--blue);
}
 .h-description{
    
   font-size: 20px;
}
.h-button{
    margin-top: 50px;
    width:8rem;
}
.h-right{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.h-icon{
    display: flex;
    gap:1rem;
    margin-top: 8%;
}
.h-icon>*{
    cursor: pointer;
}
